@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">

    <h1 class="display-4">Error!!!</h1>
    <p>You don't have permission to access.</p>
    <p>
        <a asp-page="/Index" class="btn btn-success">Return to HomePage</a>
    </p>
</div>
