@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<div class="text-center">

    <h1 class="display-4">Error!!!</h1>
    <p>Bạn không có quyền truy cập</p>
    <p>
        <a asp-page="/Index" class="btn btn-success">Trở về trang chủ</a>
    </p>
</div>
