                    @page
                    @model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="inner-content">
                        <h2>MSA</h2>
                        <span>Website bán sữa online chất lượng nhất</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- ***** Men Area Starts ***** -->
    <section class="section" id="men">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-heading">
                        <h2>Các sản phẩm mới nhất</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="men-item-carousel">
                        <div class="owl-men-item owl-carousel">
                            @foreach (var product in Model.ProductViewModel)
                            {
                                <div class="item">
                                    <div class="thumb">
                                        <div class="hover-content">
                                            <ul>
                                                <li><a href="@Url.Page("GuestPages/ProductDetail", new { id = product.ProductId })"><i class="fa fa-eye"></i></a></li>
                                                @if (product.Status == Domain.Enums.ProductStatus.InStock)
                                                {
                                                    if (HttpContext.Session.GetString("CurrentUser") == null)
                                                    {
                                                        <li><a href="/LoginPage"><i class="fa fa-shopping-cart"></i></a></li>

                                                    }
                                                    else
                                                    {
                                                        <li><a href="?handler=cart&productId=@product.ProductId"><i class="fa fa-shopping-cart"></i></a></li>

                                                    }

                                                }

                                            </ul>
                                        </div>
                                        <img src="/@product.ImageUrl" alt="">
                                    </div>
                                    <div class="down-content">
                                        <h4>@product.ProductName</h4>
                                        <span>@product.Price.000</span>
                                        @if (product.Status == Domain.Enums.ProductStatus.InStock)
                                        {
                                            <span>Chỉ còn: @product.Quantity</span>

                                        }
                                        else
                                        {

                                            <span>Hết hàng</span>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Men Area Ends ***** -->
    <!-- ***** Women Area Starts ***** -->

    <!-- ***** Women Area Ends ***** -->
    <!-- ***** Kids Area Starts ***** -->

    <!-- ***** Kids Area Ends ***** -->
    <!-- ***** Explore Area Starts ***** -->
    <section class="section" id="explore">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="left-content">
                        <h2>Khám phá các sản phẩm của chúng tôi</h2>
                        <div class="main-border-button">
                            <a href="/Index">Khám phá ngay</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="right-content">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="leather">
                                    <h4>Nhiều loại sữa khác nhau</h4>
                                    <span>Sản phẩm chất lượng tốt nhất</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="first-image">
                                    <img src="assets/images/explore-image-01.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="second-image">
                                    <img src="assets/images/explore-image-02.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="types">
                                    <h4>Đảm bảo hàng chính hãng</h4>
                                    <span>Đổi trả 1 1</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Explore Area Ends ***** -->

</body>
</html>