@page
@model MSA.Presentation.Pages.LoginPageModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->
    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
    </div>
    <!-- ***** Main Banner Area End ***** -->
    <!-- Section: Design Block -->
    <section class="section">
        <!-- Jumbotron -->
        <div class="px-4 py-5 px-md-5 text-center text-lg-start container" style="background-color: hsl(0, 0%, 96%)">
            <div class="container">
                <div class="row  align-items-center">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <h1 class="my-5 display-3 fw-bold ls-tight">
                            Website bán sữa online <br />
                            <span class="text-primary">Tốt Nhất</span>
                        </h1>
                        <p style="color: hsl(217, 10%, 50.8%)">
                            Website bán sữa online dành cho mẹ bầu mới sinh và trẻ nhỏ tốt nhất.
                        </p>
                    </div>

                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="card">
                            <div class="card-body py-5 px-md-5">
                                <form method="post">

                                    <!-- USer input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example3">Tên tài khoản</label>
                                        <input asp-for="AccountLoginDto.Username" type="text" id="form3Example3" class="form-control" />

                                    </div>

                                    <!-- Password input -->
                                    <div data-mdb-input-init class="form-outline mb-4">
                                        <label class="form-label" for="form3Example4">Mật khẩu</label>
                                        <input asp-for="AccountLoginDto.Password" type="password" id="form3Example4" class="form-control" />
                                    </div>

                                    @if (!string.IsNullOrEmpty(Model.ErrorMessage))
                                    {
                                        <div class="alert alert-danger" role="alert">
                                            @Model.ErrorMessage
                                        </div>
                                    }
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                                    <!-- Submit button -->
                                    <button type="submit" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block mb-4">
                                        Đăng nhập
                                    </button>

                                    <!-- Register buttons -->
                                    <div class="text-center">
                                        <p>Hoặc đăng ký tài khoản ở đây:</p>
                                        <div>
                                            <a asp-page="/SignUp">Đăng ký</a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jumbotron -->
    </section>
    <!-- Section: Design Block -->
</body>

</html>