@page
@model MSA.Presentation.Pages.Admin.AdminIndexModel
@{
    ViewData["Title"] = "Admin Index";
}
<p>
    <a asp-page="AccountPages/Index" class="btn btn-success">Account</a>
</p>
<p>
    <a asp-page="BatchPages/Index" class="btn btn-success">Batch</a>
</p>
<p>
    <a asp-page="CategoryPages/Index" class="btn btn-success">Category</a>
</p>
<p>
    <a asp-page="ProductPages/Index" class="btn btn-success">Product</a>
</p>
<p>
    <a asp-page="VoucherPages/Index" class="btn btn-success">Voucher</a>
</p>
