@page
@model MSA.Presentation.Pages.Admin.AdminIndexModel
@{
    ViewData["Title"] = "Admin Index";
}
<div class="text-center">
    @if (HttpContext.Session.GetString("role") == "Admin")
    {

        <h1 class="display-4">Welcome, @HttpContext.Session.GetString("fullname")</h1>
        <p>Have a nice day!</p>
        <form method="post" asp-page-handler="login">
            <table align="center">
                <div>
                    <a asp-page="/Admin/AccountPages/Index">Manage Account</a>
                </div>
            </table>
        </form>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }

</div>


