@page
@model MSA.Presentation.Pages.AccountPages.SignupModel

@{
    ViewData["Title"] = "Signup";
}

<h1>Sign Up</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="request.Username" class="control-label"></label>
                <input asp-for="request.Username" class="form-control" />
                <span asp-validation-for="request.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.Password" class="control-label"></label>
                <input asp-for="request.Password" class="form-control" />
                <span asp-validation-for="request.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.FullName" class="control-label"></label>
                <input asp-for="request.FullName" class="form-control" />
                <span asp-validation-for="request.FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.Email" class="control-label"></label>
                <input asp-for="request.Email" class="form-control" />
                <span asp-validation-for="request.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.PhoneNumber" class="control-label"></label>
                <input asp-for="request.PhoneNumber" class="form-control" />
                <span asp-validation-for="request.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.Address" class="control-label"></label>
                <input asp-for="request.Address" class="form-control" />
                <span asp-validation-for="request.Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.ImageUrl" class="control-label"></label>
                <input asp-for="request.ImageUrl" class="form-control" />
                <span asp-validation-for="request.ImageUrl" class="text-danger"></span>
            </div>
            <!--<div class="form-group">
                <label asp-for="Account.Status" class="control-label"></label>
                <select asp-for="Account.Status" class="form-control" asp-items="Html.GetEnumSelectList<AccountStatus>()"></select>
                <span asp-validation-for="Account.Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="request.Role" class="control-label"></label>
                <select asp-for="request.Role" class="form-control" asp-items="Html.GetEnumSelectList<RoleType>()"></select>
                <span asp-validation-for="request.Role" class="text-danger"></span>
            </div>-->
            <!--<div class="form-group">
                <label asp-for="Account.CreatedOn" class="control-label"></label>
                <input asp-for="Account.CreatedOn" class="form-control" />
                <span asp-validation-for="Account.CreatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.UpdatedOn" class="control-label"></label>
                <input asp-for="Account.UpdatedOn" class="form-control" />
                <span asp-validation-for="Account.UpdatedOn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.CreatedBy" class="control-label"></label>
                <input asp-for="Account.CreatedBy" class="form-control" />
                <span asp-validation-for="Account.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Account.UpdatedBy" class="control-label"></label>
                <input asp-for="Account.UpdatedBy" class="form-control" />
                <span asp-validation-for="Account.UpdatedBy" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Account.IsDeleted" /> @Html.DisplayNameFor(model => model.Account.IsDeleted)
                </label>
            </div>-->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
