@page
@model MSA.Presentation.Pages.GuestPages.SuccessOrderModel
@{
}
<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="page-heading" id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">
                        <h2>Đơn hàng đã đặt thành công, vui lòng chờ được duyệt</h2>
                        <span>Bạn có thể xem tình trạng đơn hàng  <a href="/GuestPages/OrderHistory">tại đây</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

</body>

</html>


