@page
@model MSA.Presentation.Pages.StaffPage.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if (HttpContext.Session.GetString("role") == "Staff")
    {
        
        <h1 class="display-4">Welcome, @HttpContext.Session.GetString("fullname")</h1>
        <p>Have a nice day!</p>
        <form method="post" asp-page-handler="login">
            <table align="center">
                <div>
                    <a asp-page="/StaffPage/ProductPages/Index">Manage Product</a>
                </div>
                <div>
                    <a asp-page="/StaffPage/CategoryPages/Index">Manage Category</a>
                </div>
                <div>
                    <a asp-page="/StaffPage/OrderPages/Index">Manage Order</a>
                </div>
                <!--<div>
                    <a asp-page="/StaffPage/VoucherPage/Index">Manage Voucher</a>
                </div>-->
            </table>
        </form>
    }
    else
    {
        <h1 class="display-4">Welcome</h1>
    }

</div>
